body {
  color: $gray;
  font-family: $ff-s;
  line-height: 1.6;
  background: $white;
}

h1 {
  color: $blue;
  line-height: 1;
  font-size: 3.125rem;

  span {
    @include sans-serif($fs: 5.5rem);
    display: block;
  }
}

h2 {
}
